.paper {
    margin: 60px 20%;
    padding: 50px 0;
}

.title {
    margin-top: 60px;
    font-size: 40px;
}

.textfield input {
    width: 500px;
}

.buttons {
    margin-top: 50px;
}

.btn-danger {
    background-color: red !important;
    color: white !important;
}
